-
    let events2018 = `[{
        "title":"Distributed Database DevOps Dilemmas? Kubernetes to the rescue!",
        "link":"https:\/\/www.meetup.com\/Amsterdam-Kubernetes-Meetup\/events\/256234544",
        "loc":"Amsterdam Kubernetes\/Cloud-Native Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"December 6, 2018"
    },
    {
        "title":"Distributed Database DevOps Dilemmas? Kubernetes to the rescue!",
        "link":"https:\/\/www.meetup.com\/Hamburg-Kubernetes-Meetup\/events\/256200849\/",
        "loc":"Hamburg Kubernetes\/Cloud-Native Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"December 5, 2018"
    },
    {
        "title":"Distributed Database DevOps Dilemmas? Kubernetes to the rescue!",
        "link":"https:\/\/www.meetup.com\/Munchen-Kubernetes-Meetup\/events\/256177844\/",
        "loc":"M\u00fcnchen Kubernetes\/Cloud-Native Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"December 4, 2018"
    },
    {
        "title":"Memory-Centric Architecture - A New Approach to Distributed Systems",
        "link":"https:\/\/www.meetup.com\/NYC-In-Memory-Computing-Meetup\/events\/256580648\/",
        "loc":"NYC In-Memory Computing Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"November 29, 2018"
    },
    {
        "title":"Stream Processing Best Practices - In the Cloud and with Apache Ignite",
        "link":"https:\/\/www.meetup.com\/Kafka-ATL\/events\/256500714\/",
        "loc":"Apache Kafka Atlanta",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"November 28, 2018"
    },
    {
        "title":"Best Practices for Stream Processing with Kafka and Apache Ignite",
        "link":"https:\/\/www.meetup.com\/Apache-Kafka-DC\/events\/256476441",
        "loc":"Apache Kafka DC",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"November 27, 2018"
    },
    {
        "title":"Apache Ignite performance measurement. How we do benchmarks",
        "link":"https:\/\/www.gridgain.com\/resources\/meetups\/moscow-apache-ignite-meetup",
        "loc":"Moscow Apache Ignite Meetup",
        "speaker":[
            "Ilya Suntsov",
            "Dmitry Pavlov",
            "Nikolay Kulagin",
            "Nikolay Izhikov"
        ],
        "data":"November 14, 2018"
    },
    {
        "title":"Best Practices for Stream Processing with Kafka and Apache Ignite",
        "link":"https:\/\/www.meetup.com\/KafkaBayArea\/events\/255670377\/",
        "loc":"Bay Area Apache Kafka Meetup",
        "speaker":[
            "Denis Magda"
        ],
        "data":"November 7, 2018"
    },
    {
        "title":"In-Memory Computing Essentials for Data Scientist",
        "link":"https:\/\/www.meetup.com\/Bay-Area-In-Memory-Computing\/events\/255491989\/",
        "loc":"Bay Area In-Memory Computing Meetup",
        "speaker":[
            "Lucas Beeler"
        ],
        "data":"November 1, 2018"
    },
    {
        "title":"Distributed Database DevOps Dilemmas? Kubernetes to the rescue!",
        "link":"https:\/\/www.meetup.com\/DevOps-Exchange-SanFrancisco\/events\/254969027",
        "loc":"DevOps Exchange San Francisco",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"October 25, 2018"
    },
    {
        "title":"Powering up banks and financial institutions with distributed systems",
        "link":"https:\/\/www.meetup.com\/NYC-In-Memory-Computing-Meetup\/events\/254701726\/",
        "loc":"NYC In-Memory Computing Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"October 25, 2018"
    },
    {
        "title":"Best practices for stream ingestion, processing and analytics using in-memory computing",
        "link":"https:\/\/www.meetup.com\/futureofdata-newyork\/events\/253873404",
        "loc":"Future of Data: New York",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"October 24, 2018"
    },
    {
        "title":"Apache Ignite: The In-Memory Hammer In Your Data Science Toolkit",
        "link":"https:\/\/www.meetup.com\/Metis-New-York-Data-Science\/events\/254379968",
        "loc":"Metis: New York Data Science",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"October 23, 2018"
    },
    {
        "title":"Scale Out and Conquer: Architectural Decisions Behind Distributed In-Memory Systems",
        "link":"https:\/\/tmt.knect365.com\/it-dev-connections\/speakers\/denis-magda-1#far-east-room_scale-out-and-conquer-architectural-decisions-behind-distributed-in-memory-systems",
        "loc":"IT\/Dev Connections, Dallas",
        "speaker":[
            "Denis Magda"
        ],
        "data":"October 18, 2018"
    },
    {
        "title":"Best Practices for Stream Ingestion, Processing and Analytics Using In-Memory Computing",
        "link":"https:\/\/www.meetup.com\/Bay-Area-In-Memory-Computing\/events\/254629901\/",
        "loc":"Bay Area In-Memory Computing Meetup",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"September 26, 2018"
    },
    {
        "title":"Apache Ignite: From In-Memory Data Grid to Memory-Centric Distributed Database",
        "link":"https:\/\/www.db-tech-showcase.com\/dbts\/tokyo",
        "loc":"DB Tech Showcase, Tokyo",
        "speaker":[
            "Roman Shtykh"
        ],
        "data":"September 21, 2018"
    },
    {
        "title":"How to become a Big Data Rockstar in 15 minutes!",
        "link":"https:\/\/www.meetup.com\/Big-Data-Paris\/events\/251647148",
        "loc":"Data Natives European Tour, Paris",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"September 17, 2018"
    },
    {
        "title":"In-Memory Computing Essentials for Data Scientists",
        "link":"https:\/\/www.meetup.com\/Metis-New-York-Data-Science\/events\/253834339\/",
        "loc":"New York Data Science",
        "speaker":[
            "Denis Magda"
        ],
        "data":"September 12, 2018"
    },
    {
        "title":"PostgreSQL with Apache Ignite: Faster Transactions and Analytics",
        "link":"https:\/\/www.meetup.com\/postgres-nyc\/events\/252852884\/",
        "loc":"New York City PostgreSQL User Group",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"August 30, 2018"
    },
    {
        "title":"Machine and Deep Learning with an Apache Ignite",
        "link":"https:\/\/www.meetup.com\/NYC-In-Memory-Computing-Meetup\/events\/253100350\/",
        "loc":"NYC In-Memory Computing Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"August 29, 2018"
    },
    {
        "title":"Improving Apache Spark\u2122 In-Memory Computing with Apache Ignite\u00ae",
        "link":"https:\/\/www.meetup.com\/big-bang-Data-science-Solutions\/events\/253752437\/",
        "loc":"Big Bang Data Science - Georgia",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"August 28, 2018"
    },
    {
        "title":"Speeding-up the IoT: Best practices for stream ingestion, processing and analytics using in-memory computing",
        "link":"https:\/\/www.meetup.com\/Greater-Atlanta-Internet-of-Things\/events\/253619287\/",
        "loc":"Greater Atlanta Internet of Things",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"August 27, 2018"
    },
    {
        "title":"Best Practices for Deploying Distributed Databases and In-Memory Computing Platforms with Kubernetes",
        "link":"https:\/\/www.meetup.com\/Bay-Area-In-Memory-Computing\/events\/252983625",
        "loc":"Bay Area In-Memory Computing Meetup, Menlo Park",
        "speaker":[
            "Denis Magda"
        ],
        "data":"August 23, 2018"
    },
    {
        "title":"In-Memory Computing Essentials for Data Scientists",
        "link":"https:\/\/www.meetup.com\/Metis-San-Francisco-Data-Science\/events\/253823997",
        "loc":"Metis: San Francisco Data Science",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"August 22, 2018"
    },
    {
        "title":"Apache Ignite + Apache Spark RDDs and DataFrames integration (ENG)",
        "link":"",
        "loc":"Data Summer Conf, Ukraine",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"July 21, 2018"
    },
    {
        "title":"Adding Speed and Scale to Existing Applications with No Rip and Replace Using Apache Ignite",
        "link":"https:\/\/www.eventbrite.co.uk\/e\/big-data-san-francisco-v-50-tickets-46971191097",
        "loc":"Big Data, San Francisco v 5.0",
        "speaker":[
            "Denis Magda"
        ],
        "data":"July 18, 2018"
    },
    {
        "title":"Machine and Deep Learning with in-memory computing",
        "link":"https:\/\/www.meetup.com\/London-In-Memory-Computing-Meetup\/events\/252516279",
        "loc":"London In-Memory Computing Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"July 18, 2018"
    },
    {
        "title":"Best Practices for Deploying Distributed Databases and In-Memory Computing Platforms with Kubernetes",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/best-practices-deploying-distributed-databases-and-in-memory-computing-platforms",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"July 11, 2018"
    },
    {
        "title":"In-Memory Computing Essentials for Architects and Developers: Part&nbsp;1",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/in-memory-computing-essentials-architects-and-developers-part-1-0",
        "loc":"Webinar",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"July 03, 2018"
    },
    {
        "title":"Distributed Database DevOps Dilemmas? Kubernetes to the rescue!",
        "link":"https:\/\/events.docker.com\/events\/details\/docker-new-york-presents-dockernyc-with-gridgain",
        "loc":"DockerNYC",
        "speaker":[
            "Denis Magda"
        ],
        "data":"June 28, 2018"
    },
    {
        "title":"Scale Out and Conquer: Architectural Decisions Behind Distributed In-Memory Systems",
        "link":"https:\/\/www.meetup.com\/NYC-In-Memory-Computing-Meetup\/events\/251244661\/",
        "loc":"NYC In-Memory Computing Meetup",
        "speaker":[
            "Denis Magda"
        ],
        "data":"June 27, 2018"
    },
    {
        "title":"Apache Cassandra vs Apache Ignite for HTAP",
        "link":"https:\/\/www.meetup.com\/mysqlnyc\/events\/251606063\/",
        "loc":"SQL NYC Database Meetup",
        "speaker":[
            "Denis Magda"
        ],
        "data":"June 26, 2018"
    },
    {
        "title":"Building New Hybrid Transactional\/Operational Processing (HTAP) Applications With Apache\u00ae Ignite\u00ae",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/part-2-building-new-hybrid-transactionaloperational-processing-htap-applications",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"June 20, 2018"
    },
    {
        "title":"Distributed Database DevOps Dilemmas? Kubernetes to the rescue!",
        "link":"",
        "loc":"Containerdays, Hamburg",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"June 19, 2018"
    },
    {
        "title":"Apache Spark and Apache Ignite: Where Fast Data Meets the IoT",
        "link":"http:\/\/www.apachecon.com\/euroadshow18\/iot-schedule.html",
        "loc":"Apache EU Roadshow, Berlin",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"June 14, 2018"
    },
    {
        "title":"In-memory computing hot topics & emerging trends: Panel discussion in Menlo Park",
        "link":"https:\/\/www.meetup.com\/Bay-Area-In-Memory-Computing\/events\/251308516\/",
        "loc":"Bay Area In-Memory Computing Meetup",
        "speaker":[
            "Denis Magda"
        ],
        "data":"June 13, 2018"
    },
    {
        "title":"Skyrocket Java applications with the open-source Apache Ignite",
        "link":"https:\/\/www.meetup.com\/javamug\/events\/lvktppyxjbrb\/",
        "loc":"Java Metroplex User Group (JavaMUG)",
        "speaker":[
            "Dani Taphagen"
        ],
        "data":"June 13, 2018"
    },
    {
        "title":"Adding Speed and Scale to Existing Applications with No Rip and Replace Using Apache\u00ae Ignite\u00ae",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/part-1-adding-speed-and-scale-existing-applications-no-rip-and-replace-using",
        "loc":"Webinar",
        "speaker":[
            "Denis magda"
        ],
        "data":"May 30, 2018"
    },
    {
        "title":"Improving Apache Spark\u2122 In-Memory Computing with Apache Ignite\u00ae",
        "link":"https:\/\/www.meetup.com\/Bay-Area-In-Memory-Computing\/events\/250456740\/",
        "loc":"Bay Area In-Memory Computing Meetup",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"May 17, 2018"
    },
    {
        "title":"Apache Spark and Apache Ignite: Where Fast Data Meets the IoT",
        "link":"",
        "loc":"IOT World, Santa Clara Convention Center, CA",
        "speaker":[
            "Denis Magda"
        ],
        "data":"May 16, 2018"
    },
    {
        "title":"Machine Learning and Deep Learning with Apache\u00ae Ignite\u00ae",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/machine-learning-and-deep-learning-apacher-ignitetm",
        "loc":"Webinar",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"May 16, 2018"
    },
    {
        "title":"Comparing Apache Ignite and Cassandra for Hybrid Transactional\/Analytical Processing (HTAP)",
        "link":"https:\/\/www.meetup.com\/London-In-Memory-Computing-Meetup\/events\/250316825\/",
        "loc":"London In-Memory Computing Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"May 09, 2018"
    },
    {
        "title":"Comparing Apache Ignite and Cassandra for Hybrid Transactional\/Analytical Processing (HTAP)",
        "link":"https:\/\/www.meetup.com\/NYC-In-Memory-Computing-Meetup\/events\/249201183\/",
        "loc":"NYC In-Memory Computing Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"April 26, 2018"
    },
    {
        "title":"Improving Apache Spark\u2122 In-Memory Computing with Apache Ignite\u00ae",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/improving-apache-spark-in-memory-computing-apache-ignite",
        "loc":"Webinar",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"April 25, 2018"
    },
    {
        "title":"Comparing Apache Ignite and Cassandra for Hybrid Transactional\/Analytical Processing (HTAP)",
        "link":"https:\/\/www.meetup.com\/Bay-Area-In-Memory-Computing\/events\/248615199\/",
        "loc":"Bay Area In-Memory Computing Meetup",
        "speaker":[
            "Dmitriy Setrakyan"
        ],
        "data":"April 11, 2018"
    },
    {
        "title":"Apache Spark and Apache Ignite: Make streaming analytics real with in-memory computing",
        "link":"https:\/\/www.meetup.com\/Apache-Spark-Maryland\/events\/248437125\/",
        "loc":"Apache Spark and Distributed Computing Maryland",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"April 05, 2018"
    },
    {
        "title":"Apache Ignite: the in-memory hammer in your data science toolkit.",
        "link":"https:\/\/www.meetup.com\/NOVA-Data-Science\/events\/249015197\/",
        "loc":"NOVA Data Science",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"April 04, 2018"
    },
    {
        "title":"Faster data access and processing? Our experiment with Apache Ignite",
        "link":"https:\/\/www.meetup.com\/DC-Spring-Framework\/events\/247811860\/",
        "loc":"DC Spring Framework Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"April 03, 2018"
    },
    {
        "title":"The In-Memory Hammer In Your Data Science Toolkit",
        "link":"https:\/\/www.eventbrite.com\/e\/big-data-washington-dc-v-20-tickets-42867967244",
        "loc":"Big Data, Washington DC v 2.0",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"April 02, 2018"
    },
    {
        "title":"Comparing Apache\u00ae Ignite\u00ae and Cassandra\u2122 for Hybrid Transactional Applications (HTAP)",
        "link":"https:\/\/www.brighttalk.com\/webcast\/9059\/306965?utm_campaign=webcasts-search-results-feed&utm_content=Ignite&utm_source=brighttalk-portal&utm_medium=web",
        "loc":"BrightTALK Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"March 28, 2018"
    },
    {
        "title":"Comparing Apache\u00ae Ignite\u00ae and Cassandra\u2122 for Hybrid Transactional Applications (HTAP)",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/comparing-apacher-ignitetm-and-cassandratm-hybrid-transactional-applications",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"March 28, 2018"
    },
    {
        "title":"In-Memory Computing Essentials for Data Scientists",
        "link":"https:\/\/symbion.dk\/event\/in-memory-computing-essentials-for-data-scientists\/",
        "loc":"Symbion IoT Meetup (Copenhagen, Denmark)",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"March 28, 2018"
    },
    {
        "title":"Apache Ignite: the in-memory hammer in your data science toolkit",
        "link":"https:\/\/symbion.dk\/event\/apache-ignite-the-in-memory-hammer-in-your-data-science-toolkit\/",
        "loc":"Symbion IoT Meetup (Copenhagen, Denmark)",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"March 27, 2018"
    },
    {
        "title":"How to Share State Across Multiple Spark Jobs using Apache Ignite",
        "link":"https:\/\/www.meetup.com\/Atlanta-Apache-Spark-User-Group\/events\/247807609\/",
        "loc":"Atlanta Apache Spark User Group",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"March 20, 2018"
    },
    {
        "title":"Apache Ignite: The in-memory hammer in your data science toolkit",
        "link":"https:\/\/www.meetup.com\/big-bang-Data-science-Solutions\/events\/247996429\/",
        "loc":"Big Bang Data Science - Georgia",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"March 19, 2018"
    },
    {
        "title":"Choosing the Right In-Memory Computing Technology",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/choosing-right-in-memory-computing-technology",
        "loc":"Webinar",
        "speaker":[
            "Dmitriy Setrakyan"
        ],
        "data":"March 14, 2018"
    },
    {
        "title":"All the Cool Kids are Doing it: The Whys and Hows of Architecting a Distributed Caching solution for your use case with Apache Ignite",
        "link":"https:\/\/www.meetup.com\/NYC-In-Memory-Computing-Meetup\/events\/248077601\/",
        "loc":"NYC In-Memory Computing Meetup",
        "speaker":[
            "Fotios Filacouris"
        ],
        "data":"March 14, 2018"
    },
    {
        "title":"In-Memory Computing Essentials for Architects and Developers - Part 1",
        "link":"https:\/\/www.meetup.com\/Moscow-Apache-Ignite-Meetup\/events\/247608182\/",
        "loc":"Moscow Apache Ignite Meetup",
        "speaker":[
            "Denis Magda"
        ],
        "data":"March 13, 2018"
    },
    {
        "title":"Apache Spark and Apache Ignite: Where Fast Data Meets the IoT",
        "link":"https:\/\/elciotna18.sched.com\/event\/DYLq",
        "loc":"OpenIoTSummit North America",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"March 12, 2018"
    },
    {
        "title":"In-Memory Computing Essentials for Java Developers",
        "link":"https:\/\/www.meetup.com\/Amsterdam-Java-User-Group\/events\/246975240\/",
        "loc":"Amsterdam Java User Group Workshop",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"March 08, 2018"
    },
    {
        "title":"Catch an intro to the Java-powered Apache Ignite - memory-centric distributed platform",
        "link":"https:\/\/www.meetup.com\/Amsterdam-Java-User-Group\/events\/244797561\/",
        "loc":"Amsterdam Java User Group",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"March 07, 2018"
    },
    {
        "title":"Distributed Database DevOps Dilemmas? Kubernetes to the rescue!",
        "link":"https:\/\/www.meetup.com\/Amsterdam-Kubernetes-Meetup\/events\/247989650\/",
        "loc":"Amsterdam Kubernetes\/Cloud-Native Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"March 06, 2018"
    },
    {
        "title":"Skyrocket Java applications with the open-source Apache Ignite",
        "link":"https:\/\/www.meetup.com\/BruJUG\/events\/247929324\/",
        "loc":"The Brussels Java User Group",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"March 05, 2018"
    },
    {
        "title":"Basics of In-Memory Computing for architects and developers: Part 1",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/essentials-in-russian-part1",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"Febuary 28, 2018"
    },
    {
        "title":"The In-Memory Hammer In Your Data Science Toolkit",
        "link":"https:\/\/www.meetup.com\/Big-Data-Berlin\/events\/247348848\/",
        "loc":"Big Data, Berlin",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"Febuary 22, 2018"
    },
    {
        "title":"Building consistent and highly available distributed systems with Apache Ignite and GridGain",
        "link":"https:\/\/www.meetup.com\/Bay-Area-In-Memory-Computing\/events\/247427747\/",
        "loc":"Bay Area In-Memory Computing Meetup",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"Febuary 21, 2018"
    },
    {
        "title":"Kubernetes: Good, Bad, Ugly of GKE and Distributed Databases in Kubernetes",
        "link":"https:\/\/www.meetup.com\/Berlin-Kubernetes-Meetup\/events\/247357559\/",
        "loc":"Berlin Kubernetes Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"Febuary 21, 2018"
    },
    {
        "title":"Apache Spark and Apache Ignite: Where Fast Data Meets the IoT",
        "link":"https:\/\/developer.ibm.com\/indexconf\/sessions\/#!?id=5554",
        "loc":"Index Developer Conference",
        "speaker":[
            "Denis Magda"
        ],
        "data":"Febuary 20, 2018"
    },
    {
        "title":"Skyrocket Java applications with the open-source Apache Ignite",
        "link":"https:\/\/www.meetup.com\/jug-bb\/events\/247490915\/",
        "loc":"Java Usergroup Berlin-Brandenburg",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"Febuary 20, 2018"
    },
    {
        "title":"GridGain Webinar: Redis Replaced: Why Companies Now Choose Apache\u00ae Ignite\u00ae to Improve Application Speed and Scale",
        "link":"https:\/\/www.gridgain.com\/company\/news\/events\/gridgain-webinar-redis-replaced-why-companies-now-choose-apacher-ignitetm",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"Febuary 20, 2018"
    },
    {
        "title":"Deploy like a Boss: Using Kubernetes and Apache Ignite!",
        "link":"https:\/\/www.meetup.com\/San-Francisco-Kubernetes-Meetup\/events\/247330448\/",
        "loc":"San Francisco Kubernetes Meetup",
        "speaker":[
            "Dani Traphagen"
        ],
        "data":"Febuary 15, 2018"
    },
    {
        "title":"Getting Started with Apache\u00ae Ignite\u00ae as a Distributed Database",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/getting-started-apacher-ignitetm-distributed-database",
        "loc":"Webinar",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"Febuary 14, 2018"
    },
    {
        "title":"Ignite your Cassandra Love Story: Caching Cassandra with Apache Ignite",
        "link":"https:\/\/www.meetup.com\/Sydney-Cassandra-Users\/events\/246922765\/",
        "loc":"Sydney Cassandra Users Meetup",
        "speaker":[
            "Rachel Pedreschi"
        ],
        "data":"Febuary 13, 2018"
    },
    {
        "title":"Java and In-Memory Computing: Apache Ignite",
        "link":"https:\/\/www.meetup.com\/boston-java\/events\/246725780\/",
        "loc":"The Boston Java Meetup Group",
        "speaker":[
            "Fotios Filacouris"
        ],
        "data":"Febuary 13, 2018"
    },
    {
        "title":"Turbocharge your MySQL queries in-memory with Apache Ignite",
        "link":"https:\/\/www.meetup.com\/mysqlbos\/events\/246021720\/",
        "loc":"The Boston MySQL Meetup Group",
        "speaker":[
            "Fotios Filacouris"
        ],
        "data":"Febuary 12, 2018"
    },
    {
        "title":"Turbocharge your MySQL queries in-memory with Apache Ignite",
        "link":"https:\/\/www.meetup.com\/mysqlbos\/events\/246021720\/",
        "loc":"The Boston MySQL Meetup Group",
        "speaker":[
            "Fotios Filacouris"
        ],
        "data":"Febuary 12, 2018"
    },
    {
        "title":"Building consistent and highly available distributed systems with Apache Ignite and GridGain",
        "link":"https:\/\/www.meetup.com\/London-In-Memory-Computing-Meetup\/events\/246875000\/",
        "loc":"London In-Memory Computing Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"Febuary 07, 2018"
    },
    {
        "title":"Apache Ignite Service Grid: Foundation of Your Microservices-Based Solution",
        "link":"https:\/\/developerweeksfbayarea2018.sched.com\/event\/D6C7\/apache-ignite-service-grid-foundation-of-your-microservices-based-solution",
        "loc":"DeveloperWeek 2018",
        "speaker":[
            "Denis Magda"
        ],
        "data":"Febuary 07, 2018"
    },
    {
        "title":"Meet Apache Ignite In-Memory Computing Platform",
        "link":"https:\/\/www.meetup.com\/techiteasy\/events\/245530302\/",
        "loc":"Tech it Easy- Tokyo",
        "speaker":[
            "Roman Shtykh"
        ],
        "data":"Febuary 01, 2018"
    },
    {
        "title":"Deploy like a Boss: Using Kubernetes and Apache Ignite!",
        "link":"https:\/\/www.meetup.com\/Los-Angeles-Kubernetes-Meetup\/events\/244966244\/",
        "loc":"Los Angeles Kubernetes Meetup",
        "speaker":[
            "Dani Traphagen"
        ],
        "data":"January 31, 2018"
    },
    {
        "title":"Ignite The Fire In Your SQL App",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/ignite-fire-in-your-sql-app",
        "loc":"Webinar",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"January 31, 2018"
    },
    {
        "title":"Apache Spark and Apache Ignite: Where Fast Data Meets the IoT",
        "link":"https:\/\/www.meetup.com\/BigDataApps\/events\/244915185\/",
        "loc":"Big Data Application Meetup",
        "speaker":[
            "Denis Magda"
        ],
        "data":"January 31, 2018"
    },
    {
        "title":"Building consistent and highly available distributed systems with Apache Ignite and GridGain",
        "link":"https:\/\/www.meetup.com\/NYC-In-Memory-Computing-Meetup\/events\/246047934\/",
        "loc":"NYC In-Memory Computing Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"January 25, 2018"
    },
    {
        "title":"Scale Out and Conquer: Architectural Decisions Behind Distributed In-Memory Systems",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/scale-out-and-conquer-architectural-decisions-behind-distributed-in-memory",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"January 17, 2018"
    }]`;

    let events2018Array = JSON.parse(events2018);

.eventspast__tab
    each val, index in events2018Array
        if index > 2
            - break;
        - let joinSpeacker = val['speaker'].join("<br>");
        article.eventcard
            .eventcard__date !{val['data']}
            h3.h5.pt-2 !{val['title']}
            .eventcard__info.pt-2 
                .eventcard__speaker !{joinSpeacker}
                .eventcard__loc !{val['loc']}
            a.eventcard__button.button.button--shadow(href=val['link'], target="_blank")  Learn more details
.eventspast__morewrap(data-hidebox="ev2018more")
    .eventspast__tab
        each val, index in events2018Array
            if index < 3
                - continue;
            - let joinSpeacker = val['speaker'].join("<br>");
            article.eventcard
                .eventcard__date !{val['data']}
                h3.h5.pt-2 !{val['title']}
                .eventcard__info.pt-2 
                    .eventcard__speaker !{joinSpeacker}
                    .eventcard__loc !{val['loc']}
                a.eventcard__button.button.button--shadow(href=val['link'], target="_blank")  Learn more details 
.eventspast__bottom.pt-1
    a.eventspast__more.jsLoadMoreEvents(href="#", data-hideopen="ev2018more", data-invis="1") Show more