-
    let events2019 = `[{
        "title":"Data Streaming Using Apache Flink and Apache Ignite",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/data-streaming-using-apache-flink-and-apache-ignite",
        "loc":"Webinar",
        "speaker":[
            "Saikat Maitra"
        ],
        "data":"DECEMBER 18, 2019"
    },
    {
        "title":"In-Memory Computing Essentials for Software Engineers",
        "link":"https:\/\/www.meetup.com\/en-US\/sv-jug\/events\/265881743\/",
        "loc":"The Silicon Valley Java User Group",
        "speaker":[
            "Denis Magda"
        ],
        "data":"DECEMBER 18, 2019"
    },
    {
        "title":"How and why Apache Ignite\u00ae is changing from an In-Memory Data Grid into an In-Memory Database",
        "link":"https:\/\/www.eventbrite.com\/e\/open-source-database-best-practices-registration-82082285325",
        "loc":"Open Source Database Best Practices",
        "speaker":[
            "Alexey Goncharuk"
        ],
        "data":"DECEMBER 16, 2019"
    },
    {
        "title":"How to Migrate Your Data Schema to Apache Ignite",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/how-migrate-your-data-schema-apache-ignite",
        "loc":"Webinar",
        "speaker":[
            "Ivan Rakov"
        ],
        "data":"DECEMBER 4, 2019"
    },
    {
        "title":"Apache Ignite Moscow Meetup",
        "link":"https:\/\/gridgain.timepad.ru\/event\/1124829\/",
        "loc":"Moscow, Russia",
        "speaker":[
            "Andrey Gura",
            "Denis Garus"
        ],
        "data":"DECEMBER 3, 2019"
    },
    {
        "title":"Ignite Pearls - Insight and Creativity in Distributed Programming",
        "link":"https:\/\/www.meetup.com\/en-US\/ny-scala\/events\/266240908\/",
        "loc":"NY Scala Group",
        "speaker":[
            "Nikita Ivanov"
        ],
        "data":"November 21, 2019"
    },
    {
        "title":"Apache Ignite Pumpkin Meetup",
        "link":" https:\/\/gridgain.timepad.ru\/event\/1091051\/",
        "loc":"Apache Ignite Meetup, Saint Petersburg, Russia",
        "speaker":[
            "Evgeny Zhuravlev"
        ],
        "data":"October 31, 2019"
    },
    {
        "title":"In-Memory Computing Essentials for Software Engineers",
        "link":"https:\/\/www.meetup.com\/es-ES\/mysqlnyc\/events\/265780229\/",
        "loc":"SQL NYC, The NoSQL & NewSQL Database Big Data Meetup ",
        "speaker":[
            "Denis Magda"
        ],
        "data":"October 29, 2019"
    },
    {
        "title":"Ensembles of ML algorithms and Distributed Online Machine Learning with Apache Ignite",
        "link":"https:\/\/aceu19.apachecon.com\/session\/ensembles-ml-algorithms-and-distributed-online-machine-learning-apache-ignite-0",
        "loc":"ApacheCon Europe 2019",
        "speaker":[
            "Alexey Zinovyev"
        ],
        "data":"October 23, 2019"
    },
    {
        "title":"Updated Apache Ignite Apache\u00ae Ignite\u00ae Web Console live demo",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/whats-new-in-gridgain-web-console",
        "loc":"Webinar",
        "speaker":[
            "Greg Stachnick"
        ],
        "data":"October 16, 2019"
    },
    {
        "title":"Why did we developed another one Kafka connector",
        "link":"https:\/\/leroy-merlin.timepad.ru\/event\/1069622\/",
        "loc":"Autumn Kafka at Leroy Merlin, Moscow (Russia)",
        "speaker":[
            "Alexey Kukushkin"
        ],
        "data":"October 9, 2019"
    },
    {
        "title":"Data Distribution in Apache Ignite",
        "link":"https:\/\/www.meetup.com\/ru-RU\/Scalability-Camp\/events\/264936752\/",
        "loc":"Scalability Meetup, Moscow (Russia)",
        "speaker":[
            "Andrey Gura"
        ],
        "data":"October 3, 2019"
    },
    {
        "title":"Moving Apache\u00ae Ignite\u00ae into Production: Best Practices For Disaster Recovery and High Availability",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/moving-apache-ignite-production-best-practices-disaster-recovery-and-high",
        "loc":"Webinar",
        "speaker":[
            "Stanislav Lukyanov"
        ],
        "data":"September 18, 2019"
    },
    {
        "title":"Continuous Machine and Deep Learning at Scale with Apache Ignite",
        "link":"https:\/\/apachecon.com\/acna19\/s\/#\/scheduledEvent\/1125 ",
        "loc":"ApacheCon North America 2019",
        "speaker":[
            "Denis Magda"
        ],
        "data":"September 18, 2019"
    },
    {
        "title":"Moving Apache\u00ae Ignite\u00ae into Production: Best Practices for Deploying Apache Ignite in the Cloud",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/moving-apacher-ignitetm-production-best-practices-deploying-apache-ignite-in",
        "loc":"Webinar",
        "speaker":[
            "Greg Stachnick"
        ],
        "data":"August 28, 2019"
    },
    {
        "title":"Cloud deployment best practices",
        "link":"https:\/\/www.gridgain.com\/resources\/meetups\/nyc-in-memory-computing-meetup-10",
        "loc":"Meetup",
        "speaker":[
            "Greg Stachnick"
        ],
        "data":"August 22, 2019"
    },
    {
        "title":"The Insiders Checklist for Hardening an In-Memory Computing Cluster",
        "link":"https:\/\/www.gridgain.com\/resources\/meetups\/bay-area-in-memory-computing-meetup-10",
        "loc":"Meetup",
        "speaker":[
            "Denis Magda"
        ],
        "data":"August 20, 2019"
    },
    {
        "title":"HTAP via integration of Apache Ignite and Apache Spark",
        "link":"https:\/\/cyberagent.connpass.com\/event\/134260\/",
        "loc":"Meetup",
        "speaker":[
            "Roman Shtykh"
        ],
        "data":"June 28, 2019"
    },
    {
        "title":"Moving Apache Ignite into Production: An Initial Checklist",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/moving-apache-ignite-production-initial-checklist",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"May 29, 2019"
    },
    {
        "title":"Distributed ML\/DL with Ignite ML Module Using Apache Spark as Database",
        "link":"https:\/\/databricks.com\/sparkaisummit\/north-america\/sessions-single-2019?id=143",
        "loc":"Spark + AI Summit 2019",
        "speaker":[
            "Alexey Zinovyev"
        ],
        "data":"April 25, 2019"
    },
    {
        "title":"Apache Ignite for Node.js Developers",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/apacher-ignitetm-nodejs-developers",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"March 20, 2019"
    },
    {
        "title":"Using TensorFlow with Apache Ignite",
        "link":"https:\/\/www.gridgain.com\/resources\/meetups\/open-data-science-meetup-saint-petersburg-russia",
        "loc":"Open Data Science Meetup Saint Petersburg (Russia)",
        "speaker":[
            "Yury Babak"
        ],
        "data":"March 15, 2019"
    },
    {
        "title":"What\u2019s New in Apache Ignite 2.7",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/whats-new-in-apache-ignite-27",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"Feb 13, 2019"
    },
    {
        "title":"Turbocharge your MySQL queries in-memory with In-Memory Computing",
        "link":"https:\/\/www.meetup.com\/EffectiveMySQL\/events\/257849652\/",
        "loc":"MySQL New York Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"Feb 5, 2019"
    },
    {
        "title":"GridGain Cloud: Deploy Apache Ignite in Minutes",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/gridgain-cloud-deploy-apache-ignite-in-minutes",
        "loc":"Webinar",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"January 30, 2019"
    },
    {
        "title":"In-Memory Computing Best Practices: Developing New Apps, Channels and APIs",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/in-memory-computing-best-practices-developing-new-apps-channels-and-apis",
        "loc":"Webinar",
        "speaker":[
            "Rob Meyer"
        ],
        "data":"January 24, 2019"
    },
    {
        "title":"Workshop: Machine Learning 101 with In-Memory Computing",
        "link":"https:\/\/www.meetup.com\/Stanford-Data-Science-Machine-Learning-Meetup\/events\/256812708",
        "loc":"Stanford Data Science Machine Learning Meetup",
        "speaker":[
            "Denis Magda"
        ],
        "data":"January 15, 2019"
    },
    {
        "title":"Workshop: In-Memory Computing Essentials for Data Scientists",
        "link":"https:\/\/www.meetup.com\/open-source-data-science\/events\/256974934\/",
        "loc":"BOSTON #ODSC",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"January 15, 2019"
    },
    {
        "title":"Relational DBMSs: Faster Transactions and Analytics with In-Memory Computing",
        "link":"https:\/\/www.meetup.com\/NYC-In-Memory-Computing-Meetup\/events\/257355223",
        "loc":"NYC In-Memory Computing Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"January 14, 2019"
    }]`;

    let events2019Array = JSON.parse(events2019);

.eventspast__tab
    each val, index in events2019Array
        if index > 2
            - break;
        - let joinSpeacker = val['speaker'].join("<br>");
        article.eventcard
            .eventcard__date !{val['data']}
            h3.h5.pt-2 !{val['title']}
            .eventcard__info.pt-2 
                .eventcard__speaker !{joinSpeacker}
                .eventcard__loc !{val['loc']}
            a.eventcard__button.button.button--shadow(href=val['link'], target="_blank")  Learn more details
.eventspast__morewrap(data-hidebox="ev2019more")
    .eventspast__tab
        each val, index in events2019Array
            if index < 3
                - continue;
            - let joinSpeacker = val['speaker'].join("<br>");
            article.eventcard
                .eventcard__date !{val['data']}
                h3.h5.pt-2 !{val['title']}
                .eventcard__info.pt-2 
                    .eventcard__speaker !{joinSpeacker}
                    .eventcard__loc !{val['loc']}
                a.eventcard__button.button.button--shadow(href=val['link'], target="_blank")  Learn more details 
.eventspast__bottom.pt-1
    a.eventspast__more.jsLoadMoreEvents(href="#", data-hideopen="ev2019more", data-invis="1") Show more