-
    let events2017 = `[{
        "title":"Getting Started With Apache Ignite",
        "link":"https:\/\/niketechtalksdec2017.splashthat.com\/",
        "loc":"Nike Teck Talks",
        "speaker":[
            "Dani Traphagen"
        ],
        "data":"December 14, 2017"
    },
    {
        "title":"Want extreme performance at scale? Do distributed the RIGHT way!",
        "link":"https:\/\/www.meetup.com\/Bay-Area-In-Memory-Computing\/events\/245196260\/",
        "loc":"Bay Area In-Memory Computing Meetup",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"December 13, 2017"
    },
    {
        "title":"In-Memory Computing Essentials for Architects and Developers: Part 2",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/in-memory-computing-essentials-architects-and-developers-part-2",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"December 13, 2017"
    },
    {
        "title":"Apache Ignite Use Cases for Banks and Telecoms",
        "link":"https:\/\/www.meetup.com\/Moscow-Apache-Ignite-Meetup\/events\/245332076\/",
        "loc":"Moscow Apache Ignite Meetup",
        "speaker":[
            "Mikhail Kuznetzov",
            "Mikhail Khasin",
            "Victor Khoodyakov"
        ],
        "data":"December 12, 2017"
    },
    {
        "title":"Distributed Database DevOps Dilemmas? Kubernetes to the Rescue",
        "link":"https:\/\/kccncna17.sched.com\/event\/D3vE",
        "loc":"KubeCon + CloudNativeCon North America 2017",
        "speaker":[
            "Denis Magda"
        ],
        "data":"December 08, 2017"
    },
    {
        "title":"Apache Ignite: the in-memory hammer in your data science toolkit",
        "link":"https:\/\/www.meetup.com\/austindata\/events\/245472777\/",
        "loc":"Austin Data Meetup",
        "speaker":[
            "Denis Magda"
        ],
        "data":"December 07, 2017"
    },
    {
        "title":"Meeting the Challenges of Fast Data in Healthcare with In-Memory Technologies",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/meeting-challenges-fast-data-in-healthcare-in-memory-technologies",
        "loc":"Webinar",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"December 06, 2017"
    },
    {
        "title":"Implementing Durable Memory-Centric Architectures in Large Financial Institutions",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/implementing-durable-memory-centric-architectures-in-large-financial",
        "loc":"Webinar",
        "speaker":[
            "Dmitriy Setrakyan"
        ],
        "data":"November 29, 2017"
    },
    {
        "title":"In-Memory Computing Essentials for Architects and Developers: Part 1",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/in-memory-computing-essentials-architects-and-developers-part-1",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"November 21, 2017"
    },
    {
        "title":"Hands-on Workshop: In-Memory Computing Essentials for Java Developers",
        "link":"",
        "loc":"Big Data and Cloud Meetup",
        "speaker":[
            "Denis Magda"
        ],
        "data":"November 16, 2017"
    },
    {
        "title":"Apache Spark and Apache Ignite: Where Fast Data Meets the IoT",
        "link":"",
        "loc":"Devoxx Morocco",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"November 16, 2017"
    },
    {
        "title":"How to build an event-driven, dynamically re-configurable micro-services platform",
        "link":"https:\/\/cfp.devoxx.be\/2017\/talk\/YPK-6082\/How_to_build_an_event-driven_dynamically_re-configurable_micro-services_platform",
        "loc":"Devoxx Belgium",
        "speaker":[
            "Sven Beauprez"
        ],
        "data":"November 10, 2017"
    },
    {
        "title":"Apache Ignite: The In-Memory Hammer In Your Data Science Toolkit\u00a0",
        "link":"",
        "loc":"ODSC San Francisco",
        "speaker":[
            "Denis Magda"
        ],
        "data":"November 3, 2017"
    },
    {
        "title":"Fast Data meets Big Data in the IoT- Using Apache Ignite\u00a0",
        "link":"https:\/\/www.gridgain.com\/company\/news\/events\/sydney-ibm-bluemix-meetup-group",
        "loc":"Sydney IBM Bluemix Meetup Group",
        "speaker":[
            "Rachel Pedreschi"
        ],
        "data":"November 2, 2017"
    },
    {
        "title":"Achieving High Availability and Consistency With Distributed Systems\u00a0",
        "link":"https:\/\/www.meetup.com\/Bay-Area-In-Memory-Computing\/events\/243868747\/",
        "loc":"Bay Area Apache\u00ae Ignite\u00ae Meetup",
        "speaker":[
            "Denis Magda",
            "Valetin Kulichenko"
        ],
        "data":"November 2, 2017"
    },
    {
        "title":"Apache Spark and Apache Ignite: Where Fast Data Meets the IoT\u00a0",
        "link":"https:\/\/www.meetup.com\/Dublin-Spark-Meetup\/events\/243875410\/",
        "loc":"Dublin Spark Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"October 26, 2017"
    },
    {
        "title":"How to Share State Across Multiple Spark Jobs using Apache\u00ae Ignite\u00ae\u00a0",
        "link":"https:\/\/spark-summit.org\/eu-2017\/events\/how-to-share-state-across-multiple-apache-spark-jobs-using-apache-ignite\/",
        "loc":"Spark Summit Europe 2017",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"October 25, 2017"
    },
    {
        "title":"The In-Memory Computing Summit 2017 \u2013 North America\u00a0",
        "link":"https:\/\/www.imcsummit.org\/us\/",
        "loc":"South San Francisco Conference Center",
        "speaker":[
            "Computing Summit"
        ],
        "data":"October 24-25, 2017"
    },
    {
        "title":"Better Machine Learning with Apache\u00ae Ignite\u00ae\u00a0",
        "link":"",
        "loc":"Eurostaff Big Data Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"October 19, 2017"
    },
    {
        "title":"Catch an intro to Apache Ignite and skyrocket Java applications\u00a0",
        "link":"",
        "loc":"Java User Group Meetup",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"October 18, 2017"
    },
    {
        "title":"Apache\u00ae Spark\u2122 and Apache\u00ae Ignite\u00ae: Where Fast Data Meets the IoT\u00a0",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/apacher-sparktm-and-apacher-ignitetm-where-fast-data-meets-iot",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"October 18, 2017"
    },
    {
        "title":"Apache Ignite\u00ae: The In-Memory Hammer in Your Data Science Toolkit\u00a0",
        "link":"",
        "loc":"ODSC Europe 2017",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"October 14, 2017"
    },
    {
        "title":"Powering up banks and financial institutions with distributed systems\u00a0",
        "link":"http:\/\/london.bigdataweek.com\/session\/powering-banks-financial-institutions-distributed-systems\/",
        "loc":"Big Data Week London 2017",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"October 13, 2017"
    },
    {
        "title":"Real-time Data Analysis with Apache Ignite High-Performance In-memory Platform\u00a0",
        "link":"http:\/\/dataplatform.jp\/",
        "loc":"Data Platform Conference Tokyo 2017",
        "speaker":[
            "Roman Shtykh"
        ],
        "data":"October 10, 2017"
    },
    {
        "title":"Postgres with Apache\u00ae Ignite\u00ae: Faster Transactions and Analytics\u00a0",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/postgres-apacher-ignitetm-faster-transactions-and-analytics",
        "loc":"Webinar",
        "speaker":[
            "Fotios Filacouris"
        ],
        "data":"October 4, 2017"
    },
    {
        "title":"Apache Spark and Apache Ignite: Where Fast Data Meets the IoT\u00a0",
        "link":"https:\/\/www.meetup.com\/Paris-Spark-Meetup\/events\/243673170\/",
        "loc":"Paris Spark Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"October 3, 2017"
    },
    {
        "title":"Giving a boost to the Hadoop and Spark ecosystems with in-memory technologies\u00a0",
        "link":"",
        "loc":"Big Data & Data Science, Paris",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"October 2, 2017"
    },
    {
        "title":"Stateful Apps in Production and Distributed Database Orchestration\u00a0",
        "link":"https:\/\/www.meetup.com\/New-York-Kubernetes-Meetup\/events\/242597746\/",
        "loc":"New York Kubernetes Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"September 27, 2017"
    },
    {
        "title":"Better Machine Learning with Apache\u00ae Ignite\u00ae\u00a0",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/better-machine-learning-apacher-ignitetm",
        "loc":"Webinar",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"September 27, 2017"
    },
    {
        "title":"Powering up banks and financial institutions with distributed systems\u00a0",
        "link":"https:\/\/www.meetup.com\/NYC-In-Memory-Computing-Meetup\/events\/243150945\/",
        "loc":"NYC In-Memory Computing Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"September 26, 2017"
    },
    {
        "title":"Apache Spark and Apache Ignite: Where Fast Data Meets the IoT\u00a0",
        "link":"https:\/\/www.gridgain.com\/company\/news\/events\/internet-things-iot-new-york-meetup",
        "loc":"Internet of Things (IoT) New York Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"September 25, 2017"
    },
    {
        "title":"Business Intelligence and Apache Ignite for .NET Users\u00a0",
        "link":"https:\/\/www.meetup.com\/Cambridge-NET-User-Group\/events\/238837204\/",
        "loc":"Meetup, Cambridge .NET User Group",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"September 18, 2017"
    },
    {
        "title":"Apache Ignite: The in-memory hammer in your data science toolkit\u00a0",
        "link":"https:\/\/www.meetup.com\/SF-Big-Analytics\/events\/242368299\/",
        "loc":"Meetup, Mountain View, CA",
        "speaker":[
            "Denis Magda"
        ],
        "data":"September 13, 2017"
    },
    {
        "title":"Implementing In-Memory Computing for Financial Services Use Cases with Apache\u00ae Ignite\u00ae\u00a0",
        "link":"https:\/\/register.gotowebinar.com\/register\/5573556767611108099",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"September 12, 2017"
    },
    {
        "title":"Apache Spark and Apache Ignite: Where Fast Data Meets the IoT\u00a0",
        "link":"https:\/\/www.meetup.com\/datariders\/events\/242523245\/",
        "loc":"Meetup, Santa Clara, CA",
        "speaker":[
            "Denis Magda"
        ],
        "data":"September 09, 2017"
    },
    {
        "title":"Deploy like a Boss: Using Kubernetes\u00ae and Apache\u00ae Ignite\u00ae\u00a0",
        "link":"http:\/\/info.gridgain.com\/r40u0R2G0WUmSWT9S00K030",
        "loc":"Webinar",
        "speaker":[
            "Dani Traphagen"
        ],
        "data":"August 23, 2017"
    },
    {
        "title":"Introduction to Apache Ignite, a memory-centric distributed platform\u00a0",
        "link":"https:\/\/register.gotowebinar.com\/register\/2423316315303466241",
        "loc":"Webinar",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"August 16, 2017"
    },
    {
        "title":"Building Consistent and Highly Available Distributed Systems with Apache\u00ae Ignite\u00ae\u00a0",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/building-consistent-and-highly-available-distributed-systems-apacher-ignitetm",
        "loc":"Webinar",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"August 02, 2017"
    },
    {
        "title":"Diving into the internals of Apache Ignite's memory architecture\u00a0",
        "link":"https:\/\/www.meetup.com\/Bay-Area-In-Memory-Computing\/events\/241381155\/",
        "loc":"Meetup",
        "speaker":[
            "Denis Magda"
        ],
        "data":"Jul 27, 2017"
    },
    {
        "title":"An Intro to Apache Ignite, the Memory-centric Distributed Platform\u00a0",
        "link":"https:\/\/www.meetup.com\/Brighton-Java\/events\/241395191\/",
        "loc":"Meetup",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"July 26, 2017"
    },
    {
        "title":"Distributed ACID Transactions in Apache Ignite\u00a0",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/distributed-acid-transactions-apache-ignite",
        "loc":"Webinar",
        "speaker":[
            "Akmal Chaudhri"
        ],
        "data":"July 19, 2017"
    },
    {
        "title":"Turbocharge your SQL queries in-memory with Apache\u00ae Ignite\u00ae\u00a0",
        "link":"https:\/\/www.meetup.com\/MySQL-User-Group-NL\/events\/240545280\/",
        "loc":"Meetup, Amsterdam, Netherlands",
        "speaker":[
            "Denis Magda"
        ],
        "data":"June 20, 2017 @6:30pm"
    },
    {
        "title":"Apache Ignite Community Meetup - An Overview of Donated Ignite Persistent Store Feature\u00a0",
        "link":"http:\/\/apache-ignite-developers.2346864.n4.nabble.com\/DISCUSS-Webinar-for-Ignite-Persistent-Store-walk-through-td18677.html#a18767",
        "loc":"Meetup, GoToMeeting",
        "speaker":[
            "Denis Magda"
        ],
        "data":"June 16, 2017 @8:00am"
    },
    {
        "title":"Apache Ignite and Apache Spark: This is Where Fast Data Meets the IoT\u00a0",
        "link":"https:\/\/spark-summit.org\/2017\/events\/apache-spark-and-apache-ignite-where-fast-data-meets-the-iot\/",
        "loc":"Spark Summit 2017, San Francisco, CA.",
        "speaker":[
            "Denis Magda"
        ],
        "data":"June 07, 2017 @3:20pm"
    },
    {
        "title":"Apache\u00ae Ignite\u00ae 2.0: Prelude to a Distributed SQL Database\u00a0",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/apacher-ignitetm-20-prelude-distributed-sql-database",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"June 07, 2017 @11:00am PT \/ 2:00pm ET"
    },
    {
        "title":"Apache Ignite and Apache Spark: This is Where Fast Data Meets the IoT\u00a0",
        "link":"https:\/\/apachecon2017.sched.com\/event\/9zot",
        "loc":"ApacheCon North America, Miami",
        "speaker":[
            "FL. Denis Magda"
        ],
        "data":"May 18, 2017 @2:40pm"
    },
    {
        "title":"Apache Ignite SQL Grid: Hot Blend of Traditional SQL and Swift Data Grid\u00a0",
        "link":"https:\/\/apachebigdata2017.sched.com\/event\/A01a?iframe=no",
        "loc":"ApacheCon North America, Miami",
        "speaker":[
            "FL. Denis Magda"
        ],
        "data":"May 18, 2017 @10:00am"
    },
    {
        "title":"Apache Ignite and Apache Spark: Where Fast Data Meets the IoT\u00a0",
        "link":"https:\/\/www.meetup.com\/Miami-Hadoop-User-Group\/events\/239713172\/",
        "loc":"Miami Hadoop User Group, Miami",
        "speaker":[
            "FL. Denis Magda"
        ],
        "data":"May 17, 2017 @6:00pm"
    },
    {
        "title":"Benchmarking: Apache Ignite Still Keeps Ahead Of Hazelcast\u00a0",
        "link":"https:\/\/dzone.com\/articles\/benchmarking-apache-ignite-still-keeps-ahead-of-ha-1",
        "loc":"Blog",
        "speaker":[
            "Denis Magda"
        ],
        "data":"May 12, 2017"
    },
    {
        "title":"Apache Flink meets Apache Ignite\u00a0",
        "link":"https:\/\/www.meetup.com\/Apache-Flink-London-Meetup\/events\/239663941\/",
        "loc":"Apache Flink London Meetup",
        "speaker":[
            "Akmal B. Chaudhri"
        ],
        "data":"May 10, 2017 @6:30pm"
    },
    {
        "title":"The next phase of distributed systems with Apache Ignite\u00a0",
        "link":"https:\/\/conferences.oreilly.com\/oscon\/oscon-tx\/public\/schedule\/detail\/60801",
        "loc":"OSCON, Austin",
        "speaker":[
            "TX. Dani Traphagen"
        ],
        "data":"May 10, 2017 @5:05pm"
    },
    {
        "title":"Apache\u00ae Ignite\u00ae: Real-Time Processing of IoT-Generated Streaming Data\u00a0",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/apacher-ignitetm-real-time-processing-iot-generated-streaming-data",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"May 10, 2017 @11:00am"
    },
    {
        "title":"Apache Ignite 2.0 Released\u00a0",
        "link":"https:\/\/blogs.apache.org\/ignite\/entry\/apache-ignite-2-0-redesigned",
        "loc":"Online event",
        "speaker":[
            ""
        ],
        "data":"May 05, 2017"
    },
    {
        "title":"Accelerate MySQL\u00ae for Demanding OLAP and OLTP Use Cases with Apache\u00ae Ignite\u2122\u00a0",
        "link":"https:\/\/www.percona.com\/live\/17\/sessions\/accelerate-mysql\u00ae-demanding-olap-and-oltp-use-cases-apache\u00ae-ignite\u2122-0",
        "loc":"Percona Live 2017, Santa Clara, CA",
        "speaker":[
            "USA. Nikita Ivanov"
        ],
        "data":"April 25, 2017 @1:20pm PT"
    },
    {
        "title":"Apache\u00ae Ignite\u2122: An In-Memory Backbone for Microservices-Based Architectures\u00a0",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/apacher-ignitetm-memory-backbone-microservices-based-architectures",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"April 19, 2017 @11:00am PT \/ 2:00pm ET"
    },
    {
        "title":"Scalability in Distributed In-Memory Systems\u00a0",
        "link":"",
        "loc":"JPoint 2017, Moscow, Russia",
        "speaker":[
            "Vladimir Ozerov"
        ],
        "data":"April 7, 2017 @15:30pm"
    },
    {
        "title":"Scalability in Distributed In-Memory Systems\u00a0",
        "link":"https:\/\/2017.jbreak.ru\/en\/talks\/scalability-in-distributed-in-memory-systems\/",
        "loc":"JBreak 2017, Novosibirsk, Russia",
        "speaker":[
            "Yakov Zhdanov"
        ],
        "data":"April 4, 2017 @15:15pm"
    },
    {
        "title":"Presenting Apache Ignite SQL Grid at PGConf US 2017\u00a0",
        "link":"",
        "loc":"Presentation",
        "speaker":[
            "Denis Magda"
        ],
        "data":"March 30, 2017 @14:00pm EDT"
    },
    {
        "title":"Presenting Apache Ignite SQL Grid at Big Data Bootcamp\u00a0",
        "link":"https:\/\/blogs.apache.org\/ignite\/entry\/presenting-apache-ignite-sql-grid",
        "loc":"Presentation",
        "speaker":[
            "Denis Magda"
        ],
        "data":"March 28, 2017 @1:00pm PT"
    },
    {
        "title":"Presenting Apache Ignite at Codemotion Rome 2017\u00a0",
        "link":"http:\/\/rome2017.codemotionworld.com\/wp-content\/themes\/event\/detail-talk.php?detail=5799",
        "loc":"Presentation",
        "speaker":[
            "Mandhir Gidda"
        ],
        "data":"March 24, 2017 @15:00pm"
    },
    {
        "title":"The Apache\u00ae Ignite\u00ae SQL Grid: A Hot Blend of Traditional SQL and In-Memory Data Grids\u00a0",
        "link":"https:\/\/www.gridgain.com\/company\/news\/events\/gridgain-webinar-apacher-ignitetm-sql-grid-hot-blend-traditional-sql-and-memory",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"March 15, 2017 @11:00am PT \/ 2:00pm ET"
    },
    {
        "title":"Apache Ignite: Transform batch-based system into swift real-time solution\u00a0",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-London\/events\/237189063",
        "loc":"Apache Ignite London Meetup",
        "speaker":[
            
        ],
        "data":"February 23, 2017"
    },
    {
        "title":"The Apache\u00ae Ignite\u00ae Web Console: Automating RDBMS Integration\u00a0",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/apacher-ignitetm-web-console-automating-rdbms-integration",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"February 15, 2017 @11:00am PT \/ 2:00pm ET"
    },
    {
        "title":"Deploying Apache\u00ae Ignite\u00ae \u2013 Top 7 FAQs\u00a0",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/deploying-apacher-ignitetm-and-gridgain-top-7-faqs",
        "loc":"Webinar",
        "speaker":[
            "Christos Erotocritou",
            "Rachel Pedreschi"
        ],
        "data":"January 25, 2017 @11:00am PT \/ 2:00pm ET"
    }]`;

    let events2017Array = JSON.parse(events2017);

.eventspast__tab
    each val, index in events2017Array
        if index > 2
            - break;
        - let joinSpeacker = val['speaker'].join("<br>");
        article.eventcard
            .eventcard__date !{val['data']}
            .eventcard__title.pt-2 !{val['title']}
            .eventcard__info.pt-2 
                .eventcard__speaker !{joinSpeacker}
                .eventcard__loc !{val['loc']}
            a.eventcard__button.button.button--shadow(href=val['link'], target="_blank")  Learn more details
.eventspast__morewrap(data-hidebox="ev2017more")
    .eventspast__tab
        each val, index in events2017Array
            if index < 3
                - continue;
            - let joinSpeacker = val['speaker'].join("<br>");
            article.eventcard
                .eventcard__date !{val['data']}
                .eventcard__title.pt-2 !{val['title']}
                .eventcard__info.pt-2 
                    .eventcard__speaker !{joinSpeacker}
                    .eventcard__loc !{val['loc']}
                a.eventcard__button.button.button--shadow(href=val['link'], target="_blank")  Learn more details 
.eventspast__bottom.pt-1
    a.eventspast__more.jsLoadMoreEvents(href="#", data-hideopen="ev2017more", data-invis="1") Show more