-
    let events2020 = `[{
        "title":"Apache Ignite Workshop: Developing Applications That Are Easy to Manage",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/apache-ignite-workshop-developing-applications-are-easy-manage",
        "loc":"Webinar",
        "speaker":[
            "Alexey Kukushkin"
        ],
        "data":"December 9, 2020"
    },
    {
        "title":"How to Use Apache Ignite to Rescue the Backend of a Bank",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-Virtual-Meetup\/events\/274647932\/",
        "loc":"Virtual Apache Ignite\u00ae Meetup",
        "speaker":[
            "Mikhail Antonov"
        ],
        "data":"December 8, 2020"
    },
    {
        "title":"Using Apache Ignite\u2019s Compute Grid to Integrate the Drools Rules Engine",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-Virtual-Meetup\/events\/274647932\/",
        "loc":"Virtual Apache Ignite\u00ae Meetup",
        "speaker":[
            "Ken Cottrell"
        ],
        "data":"December 8, 2020"
    },
    {
        "title":"In-Memory Computing Essentials for Java Developers and Architects",
        "link":"https:\/\/jlove.konfy.care\/",
        "loc":"jLove conference",
        "speaker":[
            "Denis Magda"
        ],
        "data":"December 4, 2020"
    },
    {
        "title":"How to Deploy Change Data Capture Using Debezium in Apache Ignite and GridGain",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/change-data-capture-using-debezium-in-apache-ignite-and-gridgain",
        "loc":"Webinar",
        "speaker":[
            "Evgenii Zhuravlev"
        ],
        "data":"December 2, 2020"
    },
    {
        "title":"In-Memory Computing Essentials for Java Developers and Architects",
        "link":"https:\/\/www.meetup.com\/JavaIL\/events\/274529630\/",
        "loc":"Java.IL - the Israeli Java Community",
        "speaker":[
            "Denis Magda"
        ],
        "data":"November 30, 2020"
    },
    {
        "title":"How to Leverage the Gridgain Operator for Kubernetes to Deploy Apache Ignite",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/gridgain-kubernetes-operator-for-apache-ignite",
        "loc":"Webinar",
        "speaker":[
            "Alexander Shapkin"
        ],
        "data":"November 18, 2020"
    },
    {
        "title":"Apache Ignite from Scratch: Live Coding of a Naive Distributed System in Java",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-Virtual-Meetup\/events\/273935662\/",
        "loc":"Virtual Apache Ignite\u00ae Meetup",
        "speaker":[
            "Denis Magda & Val Kulichenko"
        ],
        "data":"November 17, 2020"
    },
    {
        "title":"Distributed Application Development Training: Approaches for User Authentication",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/distributed-application-development-training-approaches-user-authentication",
        "loc":"Webinar",
        "speaker":[
            "Denis Mekhanikov"
        ],
        "data":"November 12, 2020"
    },
    {
        "title":"Performance and Fault-Tolerance of Apache Ignite's Network Components",
        "link":"https:\/\/www.imcsummit.org\/2020\/virtual\/session\/performance-and-fault-tolerance-apache-ignites-network-components",
        "loc":"In-Memory Computing Summit",
        "speaker":[
            "Stanislav Lukyanov"
        ],
        "data":"October 29, 2020"
    },
    {
        "title":"Engineering Overview of GridGain Nebula Managed Service: How We Deploy GridGain\/Apache Ignite in Clouds",
        "link":"https:\/\/www.imcsummit.org\/2020\/virtual\/session\/engineering-overview-gridgain-nebula-managed-service-how-we-deploy-gridgainapache-ignite",
        "loc":"In-Memory Computing Summit",
        "speaker":[
            "Andrey Alexandrov"
        ],
        "data":"October 29, 2020"
    },
    {
        "title":"Hyper-parameter Tuning and Distributed Stacking with Apache Ignite ML",
        "link":"https:\/\/www.imcsummit.org\/2020\/virtual\/session\/hyper-parameter-tuning-and-distributed-stacking-apache-ignite-ml",
        "loc":"In-Memory Computing Summit",
        "speaker":[
            "Alexey Zinoviev"
        ],
        "data":"October 29, 2020"
    },
    {
        "title":"Apache Ignite Extensions - Modularization",
        "link":"https:\/\/www.imcsummit.org\/2020\/virtual\/session\/apache-ignite-extensions-modularization",
        "loc":"In-Memory Computing Summit",
        "speaker":[
            "Saikat Maitra"
        ],
        "data":"October 28, 2020"
    },
    {
        "title":"Analyzing and Debugging Ignite Applications for Performance",
        "link":"https:\/\/www.imcsummit.org\/2020\/virtual\/session\/analyzing-and-debugging-ignite-applications-performance",
        "loc":"In-Memory Computing Summit",
        "speaker":[
            "Greg Stachnick"
        ],
        "data":"October 28, 2020"
    },
    {
        "title":"Going Cloud-Native: Serverless Applications With Apache Ignite",
        "link":"https:\/\/www.imcsummit.org\/2020\/virtual\/session\/going-cloud-native-serverless-applications-apache-ignite",
        "loc":"In-Memory Computing Summit",
        "speaker":[
            "Denis Magda"
        ],
        "data":"October 28, 2020"
    },
    {
        "title":"Training: Setting Up Apache Ignite Management and Monitoring Solution With GridGain Control Center",
        "link":"https:\/\/www.imcsummit.org\/2020\/virtual\/register",
        "loc":"In-Memory Computing Summit",
        "speaker":[
            "Denis Magda"
        ],
        "data":"October 27, 2020"
    },
    {
        "title":"Apache Ignite Lightning Talks and Q&A Session",
        "link":"https:\/\/www.meetup.com\/ru-RU\/Apache-Ignite-Virtual-Meetup\/events\/273921637\/",
        "loc":"Virtual Apache Ignite\u00ae Meetup",
        "speaker":[
            
        ],
        "data":"October 20, 2020"
    },
    {
        "title":"Apache Ignite Workshop: Cluster Memory Management Techniques",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/apache-ignite-workshop-cluster-memory-management-techniques",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"October 14"
    },
    {
        "title":"In-Memory Computing Essentials for Java Developers and Architects with VJUG",
        "link":"https:\/\/www.meetup.com\/virtualJUG\/events\/273278453\/",
        "loc":"Virtual Java User Group",
        "speaker":[
            "Denis Magda"
        ],
        "data":"October 8, 2020"
    },
    {
        "title":"In-Memory Computing Essentials for Java Developers and Architects with LJC",
        "link":"https:\/\/www.eventbrite.co.uk\/e\/in-memory-computing-essentials-for-java-developers-architects-tickets-123331914075",
        "loc":"London Java Community Meetup",
        "speaker":[
            "Denis Magda"
        ],
        "data":"October 7, 2020"
    },
    {
        "title":"In-Memory Computing Essentials for Software Engineers",
        "link":"https:\/\/jconf.dev\/session?id=5454",
        "loc":"JConf.dev",
        "speaker":[
            "Denis Magda"
        ],
        "data":"September 30, 2020"
    },
    {
        "title":"Data Streaming using Apache Flink and Apache Ignite",
        "link":"https:\/\/apachecon.com\/acah2020\/tracks\/ignite.html",
        "loc":"ApacheCon @home",
        "speaker":[
            "Saikat Maitra"
        ],
        "data":"September 29, 2020"
    },
    {
        "title":"In-Memory Computing Essentials For Software Engineers",
        "link":"https:\/\/apachecon.com\/acah2020\/tracks\/ignite.html",
        "loc":"ApacheCon @home",
        "speaker":[
            "Denis Magda"
        ],
        "data":"September 29, 2020"
    },
    {
        "title":"Apache Ignite: Continuous Machine and Deep Learning at Scale",
        "link":"https:\/\/www.developerweek.com\/CloudEdition\/conference\/",
        "loc":"Developer Week Seattle: Cloud Edition",
        "speaker":[
            "Ken Cottrell"
        ],
        "data":"September 28, 2020"
    },
    {
        "title":"Heads in the Cloud: Cloud Deployment Best Practices for in Memory Computing",
        "link":"https:\/\/www.developerweek.com\/CloudEdition\/conference\/",
        "loc":"Developer Week Seattle: Cloud Edition",
        "speaker":[
            "Greg Stachnik"
        ],
        "data":"September 28, 2020"
    },
    {
        "title":"Apache Ignite 3.0: Major Changes and Features in Russian",
        "link":"https:\/\/www.meetup.com\/ru-RU\/Moscow-Apache-Ignite-Meetup\/events\/272675398\/",
        "loc":"Virtual Meetup",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"September 17, 2020"
    },
    {
        "title":"Going Cloud-Native: Serverless Applications With Apache Ignite",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/going-cloud-native-serverless-applications-apache-ignite",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"September 16, 2020"
    },
    {
        "title":"Apache Ignite 3.0: Major Changes and Features",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-Virtual-Meetup\/events\/272675408\/",
        "loc":"Virtual Meetup",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"September 15, 2020"
    },
    {
        "title":"Networking & Communication in Apache Ignite",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/maximize-apache-ignite-performance-optimizing-network-components",
        "loc":"Webinar",
        "speaker":[
            "Stanislav Lukyanov"
        ],
        "data":"September 9, 2020"
    },
    {
        "title":"When You Don't Need Apache Ignite: 3 cases when you'd better not use platform",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-Virtual-Meetup\/events\/272551117\/",
        "loc":"Virtual Apache Ignite Meetup",
        "speaker":[
            "Dmitry Pavlov"
        ],
        "data":"September 8, 2020"
    },
    {
        "title":"Getting Started with Apache Ignite: Digital Integration Hub",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/getting-started-apache-ignite-digital-integration-hub",
        "loc":"Webinar",
        "speaker":[
            "Glenn Wiebe"
        ],
        "data":"September 2, 2020"
    },
    {
        "title":"Using Distributed Tracing to Resolve Performance Issues in Apache Ignite",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/using-distributed-tracing-resolve-performance-issues-in-apache-ignite",
        "loc":"Webinar",
        "speaker":[
            "Greg Stachnick"
        ],
        "data":"August 26, 2020"
    },
    {
        "title":"Apache Ignite ML 2.8: A Complete Feature Overview",
        "link":"https:\/\/www.meetup.com\/St-Petersburg-Apache-Ignite-Meetup\/events\/272207798\/",
        "loc":"Apache Ignite Saint Petersburg Meetup",
        "speaker":[
            "Alexey Zinoviev"
        ],
        "data":"August 20, 2020"
    },
    {
        "title":"Building a Blockchain Network with Perper, a Serverless Computation Framework for Apache Ignite",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-Virtual-Meetup\/events\/271920068\/",
        "loc":"Apache Ignite Virtual Meetup",
        "speaker":[
            "Branimir Angelov"
        ],
        "data":"August 11, 2020"
    },
    {
        "title":"Apache Ignite 101: Key Deployment Strategies for Database Acceleration",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/database-acceleration-deployment-strategies-with-apache-ignite",
        "loc":"Webinar",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"August 5, 2020"
    },
    {
        "title":"Apache Ignite Best Practices for Native Persistence and Data Recovery",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-Virtual-Meetup\/events\/271602652\/",
        "loc":"Apache Ignite Virtual Meetup",
        "speaker":[
            "Ivan Rakov"
        ],
        "data":"July 28, 2020"
    },
    {
        "title":"Building a Blockchain Network with Perper, a Serverless Computation Framework for Apache Ignite.",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/building-blockchain-network-with-perper",
        "loc":"Webinar",
        "speaker":[
            "Branimir Angelov"
        ],
        "data":"July 22, 2020"
    },
    {
        "title":"When you DO NOT need Apache Ignite",
        "link":"https:\/\/community-z.com\/events\/java-community-meetup",
        "loc":"Java Community Meetup Saint Petersburg",
        "speaker":[
            "Dmitry Pavlov"
        ],
        "data":"July 16, 2020"
    },
    {
        "title":"How to boost and scale Postgres",
        "link":"https:\/\/www.meetup.com\/Chicago-PostgreSQL-User-Group\/events\/271419029\/",
        "loc":"Chicago PostgreSQL Meetup Group",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"July 15, 2020"
    },
    {
        "title":"Architect\u2019s Guide for Continuous Machine Learning Platforms With Apache Ignite 2.8",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/continuous-machine-learning-platforms-apache-ignite-2-8",
        "loc":"Webinar",
        "speaker":[
            "Ken Cottrell"
        ],
        "data":"July 15, 2020"
    },
    {
        "title":"Getting Started With Apache Ignite as an In-Memory Database (IMDB)",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/get-started-with-apache-Ignite-as-an-in-memory-database",
        "loc":"Webinar",
        "speaker":[
            "Glenn Wiebe"
        ],
        "data":"July 8, 2020"
    },
    {
        "title":"Learn Apache Ignite Through Coding Examples",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/learn-apache-ignite-through-coding-examples",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"June 24, 2020"
    },
    {
        "title":"Architecting Low-Latency Java Systems at Massive Scale",
        "link":"https:\/\/www.eventbrite.com\/e\/architecting-low-latency-java-systems-at-massive-scale-tickets-108907284620",
        "loc":"Java Talk & Java Meetup Sydney",
        "speaker":[
            "Simon Ritter & Denis Magda"
        ],
        "data":"June 17, 2020"
    },
    {
        "title":"Simplifying GridGain and Apache Ignite Management with the GridGain Control Center",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/simplifying-gridgain-and-apache-ignite-management-with-the-gridgain-control-center",
        "loc":"Webinar",
        "speaker":[
            "Greg Stachnick"
        ],
        "data":"June 17, 2020"
    },
    {
        "title":"The Role and Specifics of Networking in Distributed Systems. Dissecting Apache Ignite",
        "link":"https:\/\/www.meetup.com\/\/Bay-Area-In-Memory-Computing\/events\/271016164\/",
        "loc":"Bay Area In-Memory Computing Meetup",
        "speaker":[
            "Stanislav Lukyanov"
        ],
        "data":"June 11, 2020"
    },
    {
        "title":"Learn Apache Ignite Through Coding Examples",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/learn-apache-ignite-through-coding-examples",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"June 24, 2020"
    },
    {
        "title":"Moving Apache Ignite into Production: Best Practices for Distributed Transactions",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/moving-apache-ignite-into-production-best-practices-for-distributed-transactions",
        "loc":"Webinar",
        "speaker":[
            "Ivan Rakov"
        ],
        "data":"June 10, 2020"
    },
    {
        "title":"How Apache Ignite Powers Real-Time Subscriber Offers for a Leading Telecommunications Company",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/apache-ignite-powers-real-time-subscriber-offers-at-telecommunications-company",
        "loc":"Webinar",
        "speaker":[
            "Alexey Bednov & Fedor Loginov"
        ],
        "data":"June 3, 2020"
    },
    {
        "title":"Architecting Low-Latency Java Systems at Massive Scale",
        "link":"https:\/\/www.meetup.com\/NYC-In-Memory-Computing-Meetup\/events\/270625098\/",
        "loc":"NYC In-Memory Computing Meetup",
        "speaker":[
            "Simon Ritter",
            "Denis Magda"
        ],
        "data":"May 27, 2020"
    },
    {
        "title":"Getting Started with Apache Ignite and SQL",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/getting-started-apache-ignite-and-sql",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda",
            "Igor Seliverstov"
        ],
        "data":"May 20, 2020"
    },
    {
        "title":"Adding Speed and Scale to MySQL Deployments With In-Memory Computing",
        "link":"https:\/\/www.meetup.com\/ru-RU\/London-In-Memory-Computing-Meetup\/events\/269972893\/",
        "loc":"London In-Memory Computing Meetup",
        "speaker":[
            "Denis Magda"
        ],
        "data":"May 14, 2020"
    },
    {
        "title":"Using Data Center Replication to Ensure High Availability of Apache Ignite and GridGain Clusters",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/data-center-replication-to-ensure-high-availability-of-apache-ignite-clusters",
        "loc":"Webinar",
        "speaker":[
            "Konstantin Orlov"
        ],
        "data":"May 13, 2020"
    },
    {
        "title":"Conquer Application Performance Challenges with In-Memory Computing",
        "link":"https:\/\/www.meetup.com\/ru-RU\/London-In-Memory-Computing-Meetup\/events\/269971583\/",
        "loc":"London In-Memory Computing Meetup",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"May 6, 2020"
    },
    {
        "title":"Architects Guide for Apache Ignite ACID Transactions and Consistency",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/architects-guide-for-apache-ignite-acid-transactions-and-consistency",
        "loc":"Webinar",
        "speaker":[
            "Ivan Rakov"
        ],
        "data":"April 29, 2020"
    },
    {
        "title":"In-Memory Computing Essentials for Software Engineers with Denver & Boulder JUG",
        "link":"https:\/\/www.meetup.com\/DenverJavaUsersGroup\/events\/cpmtcqybcgblb\/",
        "loc":"Denver Java Users Group",
        "speaker":[
            "Denis Magda"
        ],
        "data":"April 8, 2020"
    },
    {
        "title":"Learn How Apache Ignite 2.8 Offers Improved Production Maintenance and Machine Learning",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/apache-ignite-28-improved-production-maintenance-machine-learning",
        "loc":"Webinar",
        "speaker":[
            "Denis Magda"
        ],
        "data":"April 8, 2020"
    },
    {
        "title":"Virtual Meetup: Scale Out and Conquer or Mysteries of In-Memory Systems",
        "link":"https:\/\/www.meetup.com\/ru-RU\/Bay-Area-In-Memory-Computing\/events\/269533457\/",
        "loc":"",
        "speaker":[
            "Valentin Kulichenko <small>Lead Architect at GridGain Systems</small>"
        ],
        "data":"April 1, 2020"
    },
    {
        "title":"Using Apache Ignite for Continuous Machine and Deep Learning at Scale",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/using-apache-ignite-for-continuous-machine-and-deep-learning-at-scale",
        "loc":"Webinar",
        "speaker":[
            "Ken Cottrell"
        ],
        "data":"March 11, 2020"
    },
    {
        "title":"Security Guide for Apache Ignite and GridGain with Configuration Examples",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/security-guide-apache-ignite-and-gridgain-configuration-examples",
        "loc":"Webinar",
        "speaker":[
            "Andrey Alexandrov"
        ],
        "data":"March 4, 2020"
    },
    {
        "title":"How-to for Apache Ignite Deployments in Kubernetes",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/how-apache-ignite-deployments-in-kubernetes",
        "loc":"Webinar",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"February 26, 2020"
    },
    {
        "title":"How to boost and scale Postgres - from sharding to in-memory data grids",
        "link":"https:\/\/pgconf.in\/conferences\/pgconfin2020\/program\/proposals\/184",
        "loc":"Bengaluru, PGConf India",
        "speaker":[
            "Denis Mekhanikov"
        ],
        "data":"February 26, 2020"
    },
    {
        "title":"Google Big Table Deep Dive and Spark SQL Acceleration with Apache Ignite",
        "link":"https:\/\/www.meetup.com\/meetup-group-mqTCMocI\/events\/267952761\/",
        "loc":"Chicago Bay Area In-Memory Computing Meetup",
        "speaker":[
            
        ],
        "data":"February 20, 2020"
    },
    {
        "title":"Apache Ignite Meetup Moscow #8",
        "link":"https:\/\/www.meetup.com\/ru-RU\/Moscow-Apache-Ignite-Meetup\/events\/268535144",
        "loc":"Speakers: Maxim Muzafarov",
        "speaker":[
            "Alexey Bednov",
            "Fedor Loginov",
            "Ruslan Kamashev"
        ],
        "data":"February 20, 2020"
    },
    {
        "title":"In-Memory Computing Essentials for Java Developers",
        "link":"https:\/\/www.meetup.com\/meetup-group-HMwxfjeG\/events\/268167605\/",
        "loc":"Boston JUG Meetup Group",
        "speaker":[
            "Denis Magda"
        ],
        "data":"February 18, 2020"
    },
    {
        "title":"In-Memory Computing Essentials for Software Engineers",
        "link":"https:\/\/developerweek2020.sched.com\/event\/YF7B",
        "loc":"San Francisco, DeveloperWeek 2020",
        "speaker":[
            "Denis Magda"
        ],
        "data":"February 13, 2020"
    },
    {
        "title":"Best Practices for Loading Real-time Data into Distributed Systems Using Change Data Capture",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/best-practices-loading-real-time-data-distributed-systems-using-change-data",
        "loc":"Webinar",
        "speaker":[
            "Alexey Goncharuk"
        ],
        "data":"February 12, 2020"
    },
    {
        "title":"In-Memory Computing Essentials for Java Developers",
        "link":"https:\/\/www.meetup.com\/Chicago-SQL\/events\/267816135\/",
        "loc":"Chicago SQL Meetup Group",
        "speaker":[
            "Denis Magda"
        ],
        "data":"February 5, 2020"
    },
    {
        "title":"In-Memory Computing Essentials for Java Developers",
        "link":"https:\/\/www.meetup.com\/meetup-group-mqTCMocI\/events\/267293957\/",
        "loc":"Chicago Java User Group",
        "speaker":[
            "Denis Magda"
        ],
        "data":"January 16, 2020"
    },
    {
        "title":"Enabling Java for low-latency use cases at unlimited scale",
        "link":"https:\/\/www.meetup.com\/Bay-Area-In-Memory-Computing\/events\/267751131",
        "loc":"Bay Area In-Memory Computing Group",
        "speaker":[
            "Gil Tene",
            "Denis Magda"
        ],
        "data":"January 23rd, 2020"
    },
    {
        "title":"Distributed Computing with Apache Ignite",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/distributed-computing-apache-ignite",
        "loc":"Webinar",
        "speaker":[
            "Denis Mekhanikov"
        ],
        "data":"January 29, 2020"
    }]`;

    let events2020Array = JSON.parse(events2020);

.eventspast__tab
    each val, index in events2020Array
        if index > 2
            - break;
        - let joinSpeacker = val['speaker'].join("<br>");
        article.eventcard
            .eventcard__date !{val['data']}
            .eventcard__title.pt-2 !{val['title']}
            .eventcard__info.pt-2 
                .eventcard__speaker !{joinSpeacker}
                .eventcard__loc !{val['loc']}
            a.eventcard__button.button.button--shadow(href=val['link'], target="_blank")  Learn more details
.eventspast__morewrap(data-hidebox="ev2020more")
    .eventspast__tab
        each val, index in events2020Array
            if index < 3
                - continue;
            - let joinSpeacker = val['speaker'].join("<br>");
            article.eventcard
                .eventcard__date !{val['data']}
                .eventcard__title.pt-2 !{val['title']}
                .eventcard__info.pt-2 
                    .eventcard__speaker !{joinSpeacker}
                    .eventcard__loc !{val['loc']}
                a.eventcard__button.button.button--shadow(href=val['link'], target="_blank")  Learn more details 
.eventspast__bottom.pt-1
    a.eventspast__more.jsLoadMoreEvents(href="#", data-hideopen="ev2020more", data-invis="1") Show more