-
    let events2021 = `[
    {
        "title":"Ignite Summit: Cloud Edition",
        "link":"https://ignite-summit.org/",
        "loc":"Online event",
        "speaker":[
            "Cloud Edition"
        ],
        "data":"November 15-16, 2021"
    },
    {
        "title":"Backward compatibility on the example of Apache Ignite. Why does it hurt so much?",
        "link":"https://mergeconf.ru/development/opensource/izhikov",
        "loc":"Innopolis, Russia",
        "speaker":[
            "Nikolay Izhikov"
        ],
        "data":"November 13, 2021"
    },
    {
        "title":"Apache Ignite with CDC now",
        "link":"https://podlodka.io/becrew",
        "loc":"Podlodka Conference",
        "speaker":[
            "Nikolay Izhikov"
        ],
        "data":"November 11, 2021"
    },
    {
        "title":"Apache Ignite 2.11: Improvements and .NET Upgrades, Apache Ignite 3 Alpha 3: The Journey Continues",
        "link":"https://www.meetup.com/Apache-Ignite-Virtual-Meetup/events/281596817",
        "loc":"Online event",
        "speaker":[
            "Maxim Muzafarov",
            "Pavel Tupitsyn",
            "Val Kulichenko"
        ],
        "data":"November 9, 2021"
    },
    {
        "title":"Organization of testing distributed systems on the example of a real Java project",
        "link":"https:\/\/conf.python.ru\/moscow\/2021\/abstracts\/7837",
        "loc":"Moscow Python Conference 2021",
        "speaker":[
            "Maxim Losevskoy"
        ],
        "data":"September 28, 2021"
    },
    {
        "title":"Python-client for Apache Ignite Distributed DataBase",
        "link":"https:\/\/conf.python.ru\/moscow\/2021\/abstracts\/7815",
        "loc":"Moscow Python Conference 2021",
        "speaker":[
            "Ivan Daschinsky"
        ],
        "data":"September 28, 2021"
    },
    {
        "title":"Apache Ignite Extensions - Modularization",
        "link":"https:\/\/www.apachecon.com\/acah2021\/tracks\/integration.html",
        "loc":"ApacheCon",
        "speaker":[
            "Saikat Maitra"
        ],
        "data":"September 23, 2021"
    },
    {
        "title":"Moscow Apache Ignite Meetup",
        "link":"https:\/\/www.meetup.com\/Moscow-Apache-Ignite-Meetup\/events\/280030657\/",
        "loc":"Moscow Apache Ignite Meetup",
        "speaker":[
            "Ivan Bessonov",
            "Maxim Muzafarov",
            "Dmitry Gorchakov"
        ],
        "data":"September 23, 2021"
    },
    {
        "title":"Distributed Java Databases Under the Hood: Main Components and Interactions Between Them",
        "link":"https:\/\/www.apachecon.com\/acah2021\/tracks\/bigdata.html",
        "loc":"ApacheCon",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"September 21, 2021"
    },
    {
        "title":"Apache Ignite. Now with CDC!",
        "link":"https:\/\/www.highload.ru\/spb\/2021\/abstracts\/7942",
        "loc":"Saint Highload++",
        "speaker":[
            "Nikolay Izhikov"
        ],
        "data":"September 20, 2021"
    },
    {
        "title":"Building a low-code BaaS platform on Apache Ignite",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-Virtual-Meetup\/events\/280030600\/",
        "loc":"Virtual Apache Ignite Meetup",
        "speaker":[
            "Courtney Robinson <small>(Hypi co-founder and CEO)</small>"
        ],
        "data":"September 2, 2021"
    },
    {
        "title":"Apache Ignite 3.0.0 Alpha 2 Build Community Gathering",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-Virtual-Meetup\/events\/279417063\/",
        "loc":"Virtual Apache Ignite Meetup",
        "speaker":[
            "Valentin Kulichenko"
        ],
        "data":"July 20, 2021"
    },
    {
        "title":"Apache Ignite on Kubernetes",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/apache-ignite-kubernetes",
        "loc":"Webinar",
        "speaker":[
            "Colin Capriati"
        ],
        "data":"June 19, 2021"
    },
    {
        "title":"Why Distributed SQL Is Not As Easy As It Looks",
        "link":"https:\/\/www.highload.ru\/spring\/2021\/abstracts\/6686",
        "loc":"Highload++",
        "speaker":[
            "Stan Lukyanov"
        ],
        "data":"May 18, 2021"
    },
    {
        "title":"How to Use Spark With Apache Ignite for Big Data Processing",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/how-use-spark-apache-ignite-big-data-processing",
        "loc":"Webinar",
        "speaker":[
            "Andrey Alexandrov"
        ],
        "data":"April 28, 2021"
    },
    {
        "title":"Apache Ignite Native Persistence Storage",
        "link":"https:\/\/www.meetup.com\/ru-RU\/Apache-Ignite-Virtual-Meetup\/events\/277298901\/",
        "loc":"Virtual Apache Ignite Meetup",
        "speaker":[
            "Anton Kalashnikov"
        ],
        "data":"April 27, 2021"
    },
    {
        "title":"Dealing with Network Overhead in Distributed Systems: An Effective Approach to Working with Data",
        "link":"https:\/\/dotnext-piter.ru\/en\/2021\/spb\/talks\/3ar6q8gmbfi86lhbduts0k\/",
        "loc":"DOTNEXT Russia",
        "speaker":[
            "Pavel Tupitsyn"
        ],
        "data":"April 20, 2021"
    },
    {
        "title":"Distributed Java Databases Under the Hood: Main Components and Interactions",
        "link":"https:\/\/www.meetup.com\/seajug\/events\/276324545\/",
        "loc":"Seattle Java User Group",
        "speaker":[
            "Val Kulichenko"
        ],
        "data":"April 20, 2021"
    },
    {
        "title":"Apache Ignite Meetup Moscow",
        "link":"https:\/\/www.meetup.com\/ru-RU\/Moscow-Apache-Ignite-Meetup\/events\/277376724\/",
        "loc":"Ivan Dashchinskiy",
        "speaker":[
            "Grigory Domozhirov"
        ],
        "data":"April 15, 2021"
    },
    {
        "title":"Using Ignite and JBoss Drools to Implement a Complex Event Processing Solution",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-Virtual-Meetup\/events\/276693067\/",
        "loc":"Virtual Apache Ignite Meetup",
        "speaker":[
            "Manoel Pereira de Lima Junior",
            "Ney Luiz Montes Junior"
        ],
        "data":"April 13, 2021"
    },
    {
        "title":"Distributed Java DBs Under the Hood: Components & Interactions Between Them",
        "link":"https:\/\/www.meetup.com\/Chicago-PostgreSQL-User-Group\/events\/277073375\/",
        "loc":"Chicago PostgreSQL Meetup Group",
        "speaker":[
            "Val Kulichenko"
        ],
        "data":"April 13, 2021"
    },
    {
        "title":"Distributed Java DBs Under the Hood: Components & Interactions Between Them",
        "link":"https:\/\/www.eventbrite.co.uk\/e\/distributed-java-databases-under-the-hood-tickets-148903304793",
        "loc":"London Java Community",
        "speaker":[
            "Val Kulichenko"
        ],
        "data":"April 7, 2021"
    },
    {
        "title":"Distributed Java DBs Under the Hood: Components & Interactions Between Them",
        "link":"https:\/\/www.meetup.com\/boston-java\/events\/276334396\/",
        "loc":"The Boston Java Meetup Group",
        "speaker":[
            "Val Kulichenko"
        ],
        "data":"March 29, 2021"
    },
    {
        "title":"How to use Apache Ignite and Spring to build a reliable distributed web application",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/how-use-apache-ignite-and-spring-build-reliable-distributed-web-application",
        "loc":"Webinar",
        "speaker":[
            "Semyon Danilov"
        ],
        "data":"March 17, 2021"
    },
    {
        "title":"Using Apache Ignite to boost the development of Jira Cloud apps",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-Virtual-Meetup\/events\/276416802\/",
        "loc":"Virtual Apache Ignite Meetup",
        "speaker":[
            "Peter Gagarinov"
        ],
        "data":"March 2, 2021"
    },
    {
        "title":"Apache Ignite SQL Troubleshooting",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/apache-ignite-sql-troubleshooting",
        "loc":"Webinar",
        "speaker":[
            "Vladimir Pligin"
        ],
        "data":"February 24, 2021"
    },
    {
        "title":"Designing In Memory Applications for Cloud Deployment",
        "link":"https:\/\/emamo.com\/event\/developerweek-2021\/s\/open-talk-cloudworld-designing-in-memory-applications-for-cloud-deployment-WQKZyN",
        "loc":"DeveloperWeek",
        "speaker":[
            "CloudWorld",
            "Greg Stachnik"
        ],
        "data":"February 19, 2021"
    },
    {
        "title":"PRO WORKSHOP: In-Memory Computing: How to Fight Your Serverless Code's Idle Time",
        "link":"https:\/\/emamo.com\/event\/developerweek-2021\/s\/pro-workshop-in-memory-computing-how-to-fight-your-serverless-codes-idle-time-ozjzro",
        "loc":"DeveloperWeek Virtual",
        "speaker":[
            "Denis Magda"
        ],
        "data":"February 17, 2021"
    },
    {
        "title":"Detecting Potential Hazardous Situations in the Dutch Railway Planning with Apache Ignite",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-Virtual-Meetup\/events\/276125392\/",
        "loc":"Virtual Apache Ignite\u00ae Meetup",
        "speaker":[
            "Pim Dorrestijn"
        ],
        "data":"February 16, 2021"
    },
    {
        "title":"Apache Ignite Essentials - Key Design Principles for Building Data-Intensive Applications",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/developer-training-apache-ignite-essentials-key-design-principles-building-data",
        "loc":"Developer Training",
        "speaker":[
            "Denis Magda"
        ],
        "data":"February 10, 2021"
    },
    {
        "title":"Enabling Real-Time Analytics for Data Lakes with Apache Ignite",
        "link":"https:\/\/subsurfaceconf.com\/winter2021",
        "loc":"Subsurface: Cloud Data Lake conf",
        "speaker":[
            "Denis Magda"
        ],
        "data":"January 28, 2021"
    },
    {
        "title":"Apache Ignite 3.0.0 Alpha Build Community Gathering",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-Virtual-Meetup\/events\/275722317\/",
        "loc":"Virtual Apache Ignite\u00ae Meetup",
        "speaker":[
            "Virtual Meetup"
        ],
        "data":"January 26, 2021"
    },
    {
        "title":"Designing In Memory Applications for Cloud Deployment",
        "link":"https:\/\/emamo.com\/event\/developerweek-2021\/s\/open-talk-cloudworld-designing-in-memory-applications-for-cloud-deployment-WQKZyN",
        "loc":"DeveloperWeek",
        "speaker":[
            "CloudWorld",
            "Greg Stachnik"
        ],
        "data":"February 19, 2021"
    },
    {
        "title":"PRO WORKSHOP: In-Memory Computing: How to Fight Your Serverless Code's Idle Time",
        "link":"https:\/\/emamo.com\/event\/developerweek-2021\/s\/pro-workshop-in-memory-computing-how-to-fight-your-serverless-codes-idle-time-ozjzro",
        "loc":"DeveloperWeek Virtual",
        "speaker":[
            "Denis Magda"
        ],
        "data":"February 17, 2021"
    },
    {
        "title":"Detecting Potential Hazardous Situations in the Dutch Railway Planning with Apache Ignite",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-Virtual-Meetup\/events\/276125392\/",
        "loc":"Virtual Apache Ignite\u00ae Meetup",
        "speaker":[
            "Pim Dorrestijn"
        ],
        "data":"February 16, 2021"
    },
    {
        "title":"Apache Ignite Essentials - Key Design Principles for Building Data-Intensive Applications",
        "link":"https:\/\/www.gridgain.com\/resources\/webinars\/developer-training-apache-ignite-essentials-key-design-principles-building-data",
        "loc":"Developer Training",
        "speaker":[
            "Denis Magda"
        ],
        "data":"February 10, 2021"
    },
    {
        "title":"Enabling Real-Time Analytics for Data Lakes with Apache Ignite",
        "link":"https:\/\/subsurfaceconf.com\/winter2021",
        "loc":"Subsurface: Cloud Data Lake conf",
        "speaker":[
            "Denis Magda"
        ],
        "data":"January 28, 2021"
    },
    {
        "title":"Apache Ignite 3.0.0 Alpha Build Community Gathering",
        "link":"https:\/\/www.meetup.com\/Apache-Ignite-Virtual-Meetup\/events\/275722317\/",
        "loc":"Virtual Apache Ignite\u00ae Meetup",
        "speaker":[
            "Virtual Meetup"
        ],
        "data":"January 26, 2021"
    }]`;

    let events2021Array = JSON.parse(events2021);

.eventspast__tab
    each val, index in events2021Array
        if index > 2
            - break;
        - let joinSpeacker = val['speaker'].join("<br>");
        article.eventcard
            .eventcard__date !{val['data']}
            .eventcard__title.pt-2 !{val['title']}
            .eventcard__info.pt-2 
                .eventcard__speaker !{joinSpeacker}
                .eventcard__loc !{val['loc']}
            a.eventcard__button.button.button--shadow(href=val['link'], target="_blank")  Learn more details
.eventspast__morewrap(data-hidebox="ev2021more")
    .eventspast__tab
        each val, index in events2021Array
            if index < 3
                - continue;
            - let joinSpeacker = val['speaker'].join("<br>");
            article.eventcard
                .eventcard__date !{val['data']}
                .eventcard__title.pt-2 !{val['title']}
                .eventcard__info.pt-2 
                    .eventcard__speaker !{joinSpeacker}
                    .eventcard__loc !{val['loc']}
                a.eventcard__button.button.button--shadow(href=val['link'], target="_blank")  Learn more details 
.eventspast__bottom.pt-1
    a.eventspast__more.jsLoadMoreEvents(href="#", data-hideopen="ev2021more", data-invis="1") Show more