-
    let events2022 = `[
    {
        "title":"How did we build rebalance into the distributed database architecture",
        "link":"https://highload.am/2022/abstracts/9687",
        "loc":"Yerevan, Armenia",
        "speaker":[
            "Vlad Pyatkov"
        ],
        "data":"December 15, 2022"
    },
    {
        "title":"Practical aspects of B+ trees ",
        "link":"https://highload.am/2022/abstracts/9677",
        "loc":"Yerevan, Armenia",
        "speaker":[
            "Nikolay Izhikov"
        ],
        "data":"December 15, 2022"
    },
    {
        "title":"How to write a high-performance database driver",
        "link":"https://dotnext.ru/",
        "loc":"Online event",
        "speaker":[
            "Pavel Tupitsyn"
        ],
        "data":"June 16, 2022"
    },
    {
        "title":"Rebalancing in a distributed database. How to catch up with the state of the node to the state of the cluster?",
        "link":"https://www.highload.ru/foundation/2022/abstracts/7989",
        "loc":"Moscow, Russia",
        "speaker":[
            "Vlad Pyatkov"
        ],
        "data":"May 13, 2022"
    },
    {
        "title":"Apache Ignite Community Gathering: Ignite 3 Alpha 4",
        "link":"https://www.meetup.com/Apache-Ignite-Virtual-Meetup/events/283606359",
        "loc":"Online event",
        "speaker":[
            "Maxim Timonin",
            "Val Kulichenko",
            "Alexey Scherbakov"
        ],
        "data":"February 16, 2022"
    }]`;

    let events2022Array = JSON.parse(events2022);

.eventspast__tab
    each val, index in events2022Array
        if index > 2
            - break;
        - let joinSpeacker = val['speaker'].join("<br>");
        article.eventcard
            .eventcard__date !{val['data']}
            .eventcard__title.pt-2 !{val['title']}
            .eventcard__info.pt-2 
                .eventcard__speaker !{joinSpeacker}
                .eventcard__loc !{val['loc']}
            a.eventcard__button.button.button--shadow(href=val['link'], target="_blank")  Learn more details
.eventspast__morewrap(data-hidebox="ev2022more")
    .eventspast__tab
        each val, index in events2022Array
            if index < 3
                - continue;
            - let joinSpeacker = val['speaker'].join("<br>");
            article.eventcard
                .eventcard__date !{val['data']}
                .eventcard__title.pt-2 !{val['title']}
                .eventcard__info.pt-2 
                    .eventcard__speaker !{joinSpeacker}
                    .eventcard__loc !{val['loc']}
                a.eventcard__button.button.button--shadow(href=val['link'], target="_blank")  Learn more details 
.eventspast__bottom.pt-1
    a.eventspast__more.jsLoadMoreEvents(href="#", data-hideopen="ev2022more", data-invis="1") Show more