extend ./../../_src/_components/base.pug

block pagetitle
    title= title 

block css 
    link(rel="stylesheet", href="../css/blog.css?ver=" + config.version)

block main
    include ./../../_src/_components/header.pug

    div.container.blog
        section.blog__header
            h1= title
            p= `${format_date} by ${author}: `
                a(href=`http://www.facebook.com/sharer.php?u=https://ignite.apache.org/blog/${basename}`) Facebook
                span , 
                a(href=`http://twitter.com/home?status=${title}%20https://ignite.apache.org/blog/${basename}`) Twitter

        div.blog__content

            main.blog_main
                section.blog__posts
                    article.post
                        div!= post

            aside.blog__sidebar
                include ./../../_src/_components/templates/tags.pug