mixin cmty-pm-item(prof, name, work, githubLink, apacheLink)
    article.cmty-pmitem
        if prof
            .cmty-pmitem__proff
                img(src="/public/img/community/b7-chair-star.svg", alt="")
                span #{prof}
        h3.cmty-pmitem__name.h5 !{name}
        small.cmty-pmitem__work.pt-2 #{work}
        .cmty-pmitem__links.flexi 
            a.cmty-pmitem__github(href=githubLink)
                img(src="/public/img/icon-github.svg", alt="")
            a.cmty-pmitem__apache(href=apacheLink)
                img(src="/public/img/icon-pero.svg", alt="")

.cmty-pm__wrap.pt-5
    +cmty-pm-item('CHAIR', 'Dmitriy <br>Pavlov', '', 'https://github.com/', '/')
    +cmty-pm-item('', 'Alexey Goncharuk', '', 'https://github.com/', '/')
    +cmty-pm-item('', 'Alexey Kuznetsov', '', 'https://github.com/', '/')
    +cmty-pm-item('', 'Alexey Plehanov', '', 'https://github.com/', '/')
.cmty-pm__more.jsOpener(data-hidebox="pmMore")
    .jsOpenerWrap.cmty-pm__wrap
        +cmty-pm-item('', 'Alexey Zinoviev', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Andrey Gura', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Andrey Novikov', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Anton Vinogradov', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Denis Magda', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Dmitriy Setrakyan', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Evans Ye', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Gianfranco Murador', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Igor Sapego', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Ilya Kasnacheev', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Ilya Sterin', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Irina Vasilinets', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Ivan Pavlukhin', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Konstantin Boudnik', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Kseniya Romanova', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Maxim Muzafarov', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Nikita Ivanov', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Nikolai Izhikov', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Nikolai Tikhonov', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Ognen Duzlevski', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Pavel Tupitsyn', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Raúl Kripalani', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Roman Shaposhnik', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Roman Shtykh', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Saikat Maitra', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Semyon Boikov', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Sergey Evdokimov', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Sergey Khisamov', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Sergey Vladykin', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Valentin Kulichenko', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Vladimir Ozerov', '', 'https://github.com/', '/')
        +cmty-pm-item('', 'Yakov Zhdanov', '', 'https://github.com/', '/')
a.cmty-pm__morelink(href="#", data-hideopen="pmMore") 
    i Load more
    span Hide
